{% extends 'main/layout.html' %}
{% load static %}

{% block main_css %}
    <link rel="stylesheet" href='{% static "main/css/main.css" %}'>
{% endblock %}


{% block content %}
<div class="main_img">
    <img src="{% static 'main/img/main_img.jpg' %}">
</div>
<p class="description">Аналитик – обобщающее название для специалистов одной профессиональной направленности, деятельность которых состоит из сбора цифровых данных, анализа и его расшифровки. Данные, над которыми работает человек, зависят от особенностей и тонкостей профессиональной сферы. Количество областей, где нужны аналитики, растет: если раньше речь шла об инвестициях и финансах, то теперь специалисты требуются в инженерии, компьютерных технологиях, биологии, рекламе.

К прямым обязанностям аналитиков относятся сбор данных, которые понадобятся для дальнейшего анализа. Когда данные собраны, их необходимо свести к единой форме, найти в них общее или подготовить дополнительные сведения – совокупность этих процессов называют первичной обработкой.
Далее следует обозначение пунктов, по которым будет проходить изучение данных, или составление плана. Конкретно анализ выполняется с применением научно-доказанных методов и новых технологий. На основе проделанной работы аналитики составляют планы дальнейшего развития, отмечают выявленные закономерности, зависимости. Для получения точного результата необходимо составить отчет, на основе которого делаются выводы. Уже с готовым документом аналитик может говорить об особенностях изученного процесса, его сложностях.</p>
{% endblock %}