{% extends 'main/layout.html' %}
{% load static %}

{% block main_css %}
    <link rel="stylesheet" href='{% static "main/css/main.css" %}'>
{% endblock %}


{% block content %}
   <div class="main__intro intro">
                    <div class="intro__info">
                        <div class="main__title _title">Кто такой аналитик и чем он занимается ?</div>
                        <div class="main__subtitle">Аналитик — специалист, который собирает и обрабатывает данные для решения задач,
                             связанных с развитием компании и продукта. Он может работать в IT, маркетинге, управлении, консалтинге,
                             финансах — любой сфере, где систематизируют, исследуют и работают с большими данными.</div>
                    </div>
                    <div class="intro__image">
                        <img class="intro__phones" src={% static 'main/img/image.png' %}>
                    </div>
                </div>
                <div class="main__facts">
                    <div class="main__facts-cards facts-cards">
                        <div class="facts-cards__card">
                            <div class="facts-cards__title">78% компаний</div>
                            <div class="facts-cards__subtitle">повысили окупаемость рекламы благодаря аналитике, по данным Forbes</div>
                        </div>
                        <div class="facts-cards__card">
                            <div class="facts-cards__title">Каждая третья вакансия</div>
                            <div class="facts-cards__subtitle">маркетолога на hh.ru требует знаний по сбору и анализу данных</div>
                        </div>
                        <div class="facts-cards__card">
                            <div class="facts-cards__title">от 70 000 рублей в месяц</div>
                            <div class="facts-cards__subtitle">зарабатывают продуктовые, маркетинговые и веб-аналитики на старте карьеры</div>
                        </div>
                    </div>
                </div>
                <div class="main__analyst-types analyst-types">
                    <div class="analyst-types__title _title">Какие бывают аналитики</div>
                    <div class="analyst-types__cards">
                        <div class="analyst-types__card">
                            <div class="analyst-types__card-title">Бизнес-аналитик</div>
                            <div class="analyst-types__card-subtitle">Участвует в создании продуктов, помогает внедрять новые бизнес-процессы, разрабатывать маркетинговые тактики и анализировать предприятие. Он собирает информацию о внутренних
                                и рыночных факторах, изучает, как они влияют на деятельность компании,
                                а затем помогает принять наиболее лучшее решение.</div>
                            <div class="analyst-types__number">01</div>
                        </div>
                        <div class="analyst-types__card">
                            <div class="analyst-types__card-title">Веб-аналитик</div>
                            <div class="analyst-types__card-subtitle">Собирает и анализирует данные о посетителях сайта и их поведении. Он устанавливает и настраивает системы аналитики на сайте, отслеживает источники трафика, дорабатывает стандартные отчеты в системах аналитики, продумывает стратегию рекламных кампаний.</div>
                            <div class="analyst-types__number">02</div>
                        </div>
                        <div class="analyst-types__card">
                            <div class="analyst-types__card-title">Финансовый аналитик</div>
                            <div class="analyst-types__card-subtitle">Работает с деньгами компании: анализирует, оптимизирует, оценивает и ищет проблемные места. А точнее оценивает финансовое состояние компании, контрагентов, отрасли и рынка,
                                анализирует риски, денежные потоки,
                                определяет направления для инвестиций.</div>
                            <div class="analyst-types__number">03</div>
                        </div>
                        <div class="analyst-types__card">
                            <div class="analyst-types__card-title">BI-аналитик</div>
                            <div class="analyst-types__card-subtitle">Основная задача BI-аналитика — сводить и визуализировать данные с помощью различных инструментов: например, Power BI и Tableau. В этих программах BI-аналитики создают отчеты для коллег, чтобы они могли быстро проанализировать ситуацию. Еще управляют библиотекой с показателями отдела продаж, собирают требования и пожелания к BI-инструментам.</div>
                            <div class="analyst-types__number">04</div>
                        </div>
                        <div class="analyst-types__card">
                            <div class="analyst-types__card-title">Системный аналитик</div>
                            <div class="analyst-types__card-subtitle">Оптимизирует и автоматизирует информационные системы компании, чтобы наладить бизнес-процессы. Задачи системного аналитика:
                                собирать и анализировать требования исходных программ;
                                составлять проектную, пользовательскую, техническую документацию;
                                синхронизировать разработчиков и заказчика.</div>
                            <div class="analyst-types__number">05</div>
                        </div>
                        <div class="analyst-types__card">
                            <div class="analyst-types__card-title">Аналитик Big Data</div>
                            <div class="analyst-types__card-subtitle">Изучает большие массивы данных и на их основе строит прогнозы по развитию объекта исследования. Например, прогнозирует вероятность оформления платной подписки на приложение, исходя из поведения пользователей, которые уже перешли на платную версию.</div>
                            <div class="analyst-types__number">06</div>
                        </div>
                    </div>
                    <div class="analyst-types__comment">
                        на сайте представлены лишь некоторые виды *
                    </div>
                </div>
{% endblock %}