{% extends 'main/layout.html' %}
{% load static %}
{% block last_vacancies_css %}
    <link rel="stylesheet" href='{% static "main/css/lastVacancies.css" %}'>
{% endblock %}

{% block content %}
    <div class="last-vacancies__title _title">Последние вакансии</div>
    <div class="last-vacancies__subtitle">Выберите один из дней декабря, чтобы получить последние вакансии</div>
    <form class="last-vacancies__form" action="{% url 'last_vacancies' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="day"/>
        <button class="btn" type="submit">Искать</button>
    </form>
    <div class="vacancies__cards">
    {% if data %}
        {% for vacancy in data %}
             <div class="vacancy__card">
                        <div class="vacancy__title">{{ vacancy.name }}</div>
                        <div class="vacancy__additional">
                            <span>{{ vacancy.employer_name }}</span>
                            <span>{{ vacancy.salary}}</span>
                            <span>{{ vacancy.area_name }}</span>
                            <span>{{ vacancy.published_at }}</span>
                            </div>
                        <div class="vacancy__description">{{ vacancy.snippet_responsibility }}</div>
                        <div class="vacancy__skills">{{ vacancy.snippet_requirement }}</div>
             </div>
        {% endfor %}
    {% endif %}
    {% if not data %}
        <div class="plaseholder">Пока нет данных...</div>
    {% endif %}
    </div>
{% endblock %}