{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hhproj</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block main_css %}{% endblock %}
</head>
<body>
<div class="wrapper">
    <div class="header">
     <div class="header__container _container">HH PROJECT</div>
 </div>
 <main class="main">
    <div class="main__container _container">
        <nav class="sidebar">
        <ul class="sidebar__list">
            <li><a class="sidebar__item" href=" {% url 'home' %} ">Главная</a></li>
            <li><a class="sidebar__item" href=" {% url 'demand' %} ">Востребованность</a></li>
            <li><a class="sidebar__item" href=" {% url 'geography' %} ">География</a></li>
            <li><a class="sidebar__item" href=" {% url 'skills' %} ">Навыки</a></li>
            <li><a class="sidebar__item" href=" {% url 'last_vacancies' %} ">Последние вакансии</a></li>
        </ul>
    </nav>
     <div class="main__content">
         {% block content %}
         {% endblock %}
     </div>
    </div>

 </main>
 <footer class="footer">
     <div class="footer__container">
         Овечкин Дмитрий РИ-210941
     </div>
 </footer>
</div>

</body>
</html>